*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  background-color: orange;
}

.container input{
  width: 500px;
  padding-left: 15px;
  height: 40px;
}

.container #adult{
  display: none;
}

.container #child{
  display: none;
}
